body {
    background-color: #202225;
    color: #b8d6d9;
}

a {
	color: #b8d6d9;	
}

table {
	border: 1px solid #b8d6d9;
	text-align: center;
}

th {
	border: 1px solid #b8d6d9;
}

td {
	border: 1px solid #b8d6d9;
}

.bold {
	font-weight: bold;
	color: grey;
}

 br {
    display: none; /* hide the BR tag for wider screens (i.e. disable the line break) */
}

#banner {
	display: flex;
	background-color: aqua;
	color: black;
	height: 50px;
	justify-content: center;
	align-items: center;
}