body {
    background-color: #2c2e30;
    color: #b8d6d9;
}

a {
	color: #b8d6d9;	
}

table {
	border: 1px solid #b8d6d9;
	text-align: center;
}

th {
	border: 1px solid #b8d6d9;
}

td {
	border: 1px solid #b8d6d9;
}

.bold {
	font-weight: bold;
	color: grey;
}

#banner {
	display: flex;
	background-color: #222326;
	color: white;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.sidebar {
	background-color: #222326;
}